<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>结算</title>
</head>
<body>
<table border="1" align="center">
    <tr>
        <th>商品编号</th>
        <th>商品名称</th>
        <th>商品单价</th>
        <th>数量</th>
        <th>是否打折</th>
    </tr>
    <tr th:if="${goodList!=null }" th:each="good,loop:${goodList}" >
        <td align="center" th:text="${good.id}"></td>
        <td align="center" th:text="${good.name}"></td>
        <td align="center" th:text="${good.price/100.0}"></td>
        <td align="center" th:text="${amountList[loop.count-1]}"></td>
        <td align="center" th:if="${isDisList[loop.count-1] == 1}" th:text="是"></td>
        <td align="center" th:if="${isDisList[loop.count-1] == 0}" th:text="否"></td>
    </tr>
    <tr >
        <td colspan="5" th:text="'合计：'+${sum/100.0}+'元'"></td>
    </tr>
</table><br/>
<center><a href = "/cashier/index" align="center"><input type="button" value="返回" /></a></center>

</body>
</html>