<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript">
        function toPrintList(){
            window.location="/purchaser/printList";
        }
        function toPurchaseGood(){
            window.location="/purchaser/purchaserGood";
        }
    </script>

    <title>进货管理页面</title>

</head>
<body>
<div align="center">
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <input type="button" value="打印建议进货清单" onClick="toPrintList()" /><br/>
    <input type="button" value=" 商    品    进     货 " onClick="toPurchaseGood()" /><br/>
</div>
</body>
</html>