<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>建议进货清单</title>
</head>
<body>
<table border="1" align="center">
    <tr>
        <th>商品编号</th>
        <th>商品名称</th>
        <th>供货商编号</th>
        <th>供货商名称</th>
        <th>当前售价</th>
        <th>建议进货数量</th>
        <th>是否缺货</th>
    </tr>
    <tr th:if="${goodList!=null}" th:each="good:${goodList}">
        <td align="center" th:text="${good.id}"></td>
        <td align="center" th:text="${good.name}"></td>
        <td align="center" th:text="${good.firm.id}"></td>
        <td align="center" th:text="${good.firm.name}"></td>
        <td align="center" th:text="${good.price/100.0}"></td>
        <td align="center" th:text="${good.purchaseAmount - good.inventoryAmount}"></td>
        <td align="center" th:if="${good.isWarn == 1}" th:text="是"></td>
        <td align="center" th:if="${good.isWarn == 0}" th:text="否"></td>
    </tr>
</table><br/>
<center><a href = "/purchaser/index" align="center"><input type="button" value="返回" /></a></center>

</body>
</html>