<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript">
        function toRegisterFirm(){
            window.location="/firm/register";
        }
    </script>
    <title>管理厂商信息</title>
</head>
<body>
<div align="center">
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <input type="button" value="注册厂商" onClick="toRegisterFirm()" /><br/>
    <a	href="/firm/show">
        <input type="button" value="厂商列表"  />
    </a>
</div><br/>
<center><a href = "/login/managerIndex" align="center"><input type="button" value="返回" /></a></center>
</body>
</html>