<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript">
        function toRegisterGood(){
            window.location="/good/register";
        }
    </script>
    <title>管理商品信息</title>
</head>

<body>
<div align="center">
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <input type="button" value="注册商品" onClick="toRegisterGood()" /><br/>
    <a	href="/good/show">
        <input type="button" value="商品列表"  />
    </a>
</div><br/>
<center><a href = "/login/managerIndex" align="center"><input type="button" value="返回" /></a></center>
</body>
</html>