<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>管理会员信息</title>
    <script type="text/javascript">
        function toRegisterMneber(){
            window.location="/menber/register";
        }
    </script>
</head>
<body>
<div align="center">
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <input type="button" value="注册会员卡" onClick="toRegisterMneber()" /><br/>
    <a href="/menber/show"><input type="button" value="会员信息表" /></a>
    <br/>
    <a	href="/menber/selectDeal">
        <input type="button" value="会员购物记录表" />
    </a>
</div><br/>
<center><a href = "/login/managerIndex" align="center"><input type="button" value="返回" /></a></center>
</body>
</html>