<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript">
        function toRegisterEmp(){
            window.location="/emp/register";
        }
    </script>
    <title>管理员工信息</title>
</head>
<body>
<div align="center">
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <input type="button" value="注册员工" onClick="toRegisterEmp()" /><br/>
    <a	href="/emp/show">
        <input type="button" value="员工列表"  />
    </a>
</div><br/>
<center><a href="/login/managerIndex" align="center"><input type="button" value="返回" /></a></center>
</body>
</html>