<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>注册厂商</title>
</head>
<body>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<form action="/firm/regist" method="post" align="center">
    厂商名称:<input type="text" name="name" /><br/>
    厂商地址:<input type="text" name="addr" /><br/>
    厂商电话:<input type="text" name="tele" /><br/><br/>
    <input type="submit" value="注册" /> <a href = "/firm/info" align="center"><input type="button" value="返回" /></a>
</form>
</body>
</html>