<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>购物记录</title>
</head>
<body>
<table border="1" align="center">
    <tr>
        <th>购物记录编号</th>
        <th>会员卡号</th>
        <th>消费金额</th>
        <th>消费日期</th>
    </tr>
    <tr th:if="${dealList!=null}" th:each="deal:${dealList}">
        <td align="center" th:text="${deal.id}"></td>
        <td align="center" th:text="${deal.menber.id}"></td>
        <td align="center" th:text="${deal.money/100.0}"></td>
        <td align="center" th:text="${deal.date}"></td>
    </tr>
</table><br/>
<center><a href = "/menber/info" align="center"><input type="button" value="返回" /></a></center>

</body>
</html>