<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>厂商列表</title>
</head>
<body>
<form action="/firm/showFirm" method="get" align="center" >
    厂商名称:<input type="text" name="name" th:value="${param.name}"/>
    <input type="submit" value="查询"  />
</form>
<br/>
<table border="1" align="center">
    <tr>
        <th>厂商编号</th>
        <th>厂商名称</th>
        <th>厂商地址</th>
        <th>厂商电话</th>
        <th>操作</th>
    </tr>
    <tr th:if="${firmList!=null}" th:each="firm:${firmList}">
        <td align="center" th:text="${firm.id}"></td>
        <td align="center" th:text="${firm.name}"></td>
        <td align="center" th:text="${firm.addr}"></td>
        <td align="center" th:text="${firm.tele}"></td>
        <td align="center"><a th:href = "@{/firm/edit(id=${firm.id})}"><input type="button" value="修改"/></a></td>
    </tr>
</table><br/>
<center><a href = "/firm/info" align="center"><input type="button" value="返回" /></a></center>

</body>
</html>